.navigation{
	height: 56px;
	background: #3f4096!important;
	padding: 10px;
}

.logo{
	font-size: 24px;
	letter-spacing: 2px;
	margin-left: 20px;
	font-weight: 800;
	color: #ffffff;
}

.toggle{
	font-size: 40px;
	color: green;
	cursor: pointer;
}

.form_style{
	padding: 15px;
	width: 200px;
}

.botton_style_add{
	padding: 10px;
	width: 150px;
	cursor: pointer;
	margin: 5px;
	margin-left: 43px;
	border: 1px solid #3f4096;
    color: #3f4096;
}


.botton_style_remove{
	padding: 10px;
	width: 120px;
	border-radius: 4px;
	cursor: pointer;
	margin: 5px;
	margin-left: 5px;
	height: 38px;
	white-space: nowrap;
	border: 1px solid #d0021b;
    color: #d0021b;
}

.botton_style_remove:hover {
	background-color: rgba(208,2,27,.1)
}

.body_style{
	padding: 20px;
}

.Date_style{
	margin-left: 10px;
	font-size: 16px;
	color: #262626;
	opacity: 0.7;
	border: 1px solid #262626;
	border-radius: 4px;
	width: max-content;
	padding: 1px 5px;
	margin-top: 5px;
}

.title_style{
	font-size: 24px;
	font-weight: 600;
	outline: 0;

}

.title_style_checked{
	font-size: 24px;
	font-weight: 600;
	outline: 0;
	text-decoration: line-through;
}

.desc_style {
	font-size: 16px;
	color: #262626;
	opacity: 0.7;
	margin-left: 10px;
	outline: 0;
}

.desc_style_checked {
	font-size: 16px;
	color: #262626;
	opacity: 0.7;
	margin-left: 10px;
	outline: 0;
	text-decoration: line-through;
}

.list_container{
	border: 1px solid #262626;
	border-radius: 4px;
	margin-left: 50px;
	padding: 15px;
	margin-bottom: 4px;
	margin-right: 50px;
	border: 1px solid rgba(0,0,0,.1);
	cursor: pointer;

}

.list_container_checked{
	border: 1px solid #262626;
	border-radius: 4px;
	margin-left: 50px;
	padding: 15px;
	margin-bottom: 4px;
	margin-right: 50px;
	background-color: #35c1a2;
	cursor: pointer;
}

.delete_icon{
	margin-left: 5px;
	cursor: pointer;
	text-decoration: none!important;

}

.delete_icon:hover{
	opacity: 0.5;
}

.add_button{
	border: 1px solid #3f4096;
	cursor: pointer;
	padding: 5px;
	width: 120px;
	height: 38px;
	border-radius: 4px;
	margin-left: 10px;
	color: #3f4096;
}

.add_button:hover{
	background-color: rgba(63,64,150,.1)
}

.date_container{
	height: 38px;
	padding: 10px;
	border-radius: 4px;
}

.margin{
	margin-right: 4px;
}

.width{
	width: 50%
}

.Reminder_text{
	margin-left: 10px;
	font-size: 16px;
	color: #262626;
	opacity: 0.7;
}